  <section layout="row">
    <md-button class="md-fab md-fab-top-right" aria-label="Add" ng-click="showAdd($event)">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <md-content layout="column" layout-fill="layout-fill" role="main" class="relative">
      <md-list>
        <md-subheader class="md-no-sticky">Lista de alunos</md-subheader>
        <md-list-item ng-repeat="studant in studants" ng-click="showAdd($event, studant)" class="noright">
          <p>{{::studant.name }}</p>
          <p>{{::studant.email}}</p>
          <md-divider ng-if="!$last"></md-divider>
          <ng-md-icon class="md-secondary" ng-click="showAdd($event, studant)" aria-label="Editar Aluno" icon="edit"></ng-md-icon>
          <ng-md-icon class="md-secondary" ng-click="remove(studant)" aria-label="Excluir Aluno" icon="delete"></ng-md-icon>
        </md-list-item>
    </md-list>
    </md-content>
</section>
